p {

}

.list {
    margin-top: 64px;
}

.list__item {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    background: url('/learning_page/css_5/img/check_icon.png') 0 5px no-repeat;
    background-size: 25px 19px;
    text-align: left;
    padding-left: 30px;
    color: #273d46;
}

.item_2 {
    color: #80b7b3;
}

.item_4 {
    opacity: 0.3;
    text-decoration: line-through;
}

.btn_submit {
    display: block;
    box-shadow: 3px 5px 40px 0px rgba(127, 183, 179, 0.54);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background: #80B7B3;
    margin-top: 65px;
}